@media (max-width:550px) {

        .div{
            flex-direction: column;
            gap: 10px;
        }
        .div label{
            width: 100%;
            height: 30px;
        }
        .div input{
            width: 100%;
        }
        .div select{
            width: 100%;
        }
        .mobile{
            flex-direction: row;
            width: 100%;
        }
        .mobile input{
            width: 100%;
        }

}
  